<div class="home-banner">
  <img class="banner-image" src="assets/images/banner.jpg" alt="" />
</div>

<div class="annonces-section">
  <h1>Annonces</h1>
  <hr class="mx-auto mb-5 p-0" style="width:15%"/>
  <hr class="mx-auto mb-5 p-0" style="width:10%"/>
  <div class="annonces-grid">

    <div class="annonce-item" *ngFor="let bien of biens">
      <img class="card-img-top" [src]="'http://localhost:8000/storage/' + bien.imagePath" alt="{{ bien.titre }}" *ngIf="bien.imagePath">
      <span class="badge {{ bien.type_annonce == 'location' ? ' bg-primary' : ' bg-success'}}">{{ bien.type_annonce }}</span>
      <div class="annonce-info">
        <div class="properties">
          <div class="text p-3">
            <div class="d-flex">
              <div class="one">
                <p>{{ bien.description }}</p>
              </div>
              <div class="two">
                <span class="text-dark font-weight-bold" style="font-size: 18px;">{{ bien.prix }}  Fcfa</span>
              </div>
              <p class="card-text">Disponible: {{ bien.disponible ? 'Oui' : 'Non' }}</p>
            </div>
            <div style="display: flex; align-items: center; text-align: center;">
              <span style="margin-right: 10px;"><i class="flaticon-area">Superficie: </i> 250 m²</span>
              <span style="margin-right: 10px;"><i class="flaticon-bathtub">🛁</i> 3</span>
              <span><i class="flaticon-bed">🛏️</i> 4</span>
            </div>
          </div>
        </div>

        <button class="btn btn-outline-primary" [routerLink]="['/detail', bien.id]">Voir plus</button>
      </div>

    </div>
  </div>
</div>







